.addCard__initial {
    padding: 0 0 0 0;
    width: 256px;
    height: 250px;
    margin: 15px 15px 15px 15px;

    border-radius: 15px;
    background-color: var(--post-color);
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);

    color: var(--post-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    transform: scale(0.5);
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.addCard__initial:hover {
    transform: scale(0.6);
}

.groupCardBack__top {
    height: 20%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.groupCardBack__topInfo > h3 {
    font-size: medium;
}

.groupCardBack__body {
    align-content: space-around;
    position: relative;
    left: -18px;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 40%;
    width: 256px;
    font-size: 11px;
}

.groupCardBack__bottom {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}