.addCardFront {
    display: flex;
    flex-direction: column;
}

.addCardFront__groupName {
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--header-input-color-hover);
    
    color: var(--header-input-text);
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    width: 200px;
}

.addCardFront__groupName > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
    color: var(--header-input-text);
}

.addCardFront__groupDescription {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--header-input-color-hover);
    
    color: var(--header-input-text);
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    width: 200px;
}

.addCardFront__groupDescription > textarea {
    height: 100px;
    border: none;
    resize: none;
    width: 200px;

    font-size: 10px;
    background-color: transparent;
    outline-width: 0;
    color: var(--header-input-text);
}

.addCardFront__groupDescription > input::placeholder {
    transform: translate3d(0,-40px,0);
    text-align: start;
}

.addCardFront > form > button {
    display: none;
}