.addCard__initial {
    padding: 0 0 0 0;
    width: 256px;
    height: 250px;
    margin: 15px 15px 15px 15px;

    border-radius: 35px;
    background-color: var(--post-color);
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);

    color: var(--post-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

    transform: scale(0.5);
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.addCard__initial:hover {
    transform: scale(0.6);
}

.addCard__initial > .addCard__front {
    display: none;
}

.addCard__initial > .addCard__options {
    display: none;
} 

.addCard__initial > .MuiIconButton-root {
    transform: scale(3);
}

.addCard__initial > .MuiIconButton-root:hover {
    background-color: var(--post-color);
}

.addCard {
    padding: 0 0 0 0;
    width: 256px;
    height: 250px;
    margin: 15px 15px 15px 15px;

    border-radius: 15px;
    background-color: var(--post-color);
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);

    color: var(--post-text-color);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    transition: transform 100ms ease-in;
    transform: scale(1.5);
    cursor: pointer;
}

.addCard > .MuiIconButton-root {
    display: none;
}

.addCard > .addCard__options {
    margin-top: 10px;
    display: flex;
    width: 200px;
    padding: 5px 5px 5px 5px;
    justify-content: space-between;
}

.addCard__front {
    display: flex;
    flex-direction: column;
}

.addCardFront__groupName {
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--header-input-color-hover);
    
    color: var(--header-input-text);
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    width: 200px;
}

.addCardFront__groupName > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
    color: var(--header-input-text);
}

.addCardFront__groupDescription {
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--header-input-color-hover);
    
    color: var(--header-input-text);
    padding: 5px 5px 5px 5px;
    margin-top: 15px;
    width: 200px;
}

.addCardFront__groupDescription > textarea {
    height: 100px;
    border: none;
    resize: none;
    width: 200px;

    font-size: 10px;
    background-color: transparent;
    outline-width: 0;
    color: var(--header-input-text);
}

.addCardFront__groupDescription > input::placeholder {
    transform: translate3d(0,-40px,0);
    text-align: start;
}

.addCard__front > form > button {
    display: none;
}