.memberWindow {
    position: absolute;
    left: 463px;
    background-color: var(--post-color);
    border-style: solid;
    border-radius: 5px;
    border-width: 0px;
    border-color: var(--header-icon-color);
    box-shadow: 0px 0px 14px -7px rgba(0, 0, 0, 0.75);
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 250px;
    min-height: 250px;
}

.memberWindow__top {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--header-input-color-hover);
    height: 10%;
    width: 80%;
    margin-top: 10px;
}

.memberWindow__top > h4 {
    font-weight: normal;
    margin-bottom: 5px;
}

.memberWindow__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
}

.memberWindow__bodyInput {
    display: flex;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: var(--header-input-color-hover);
    
    color: var(--header-input-text);
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
    width: 90%;
}

.memberWindow__bodyInput > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
    color: var(--header-input-text);
}

.memberWindow__member {
    margin: 10px 0;
    width: 95%;
    padding: 0 5px;
}