.messageSender {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: var(--post-color);
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.messageSender__top {
    display: flex;
    border-bottom: 1px solid var(--header-input-color);
    padding-bottom: 15px;
    padding: 15px;
}

.messageSender__top > form {
    outline-width: 0;
    border: none;
    flex: 1;
    display: flex;
}

.messageSender__top > form > input {
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: var(--header-input-color);
    color: var(--header-input-text);

    outline-width: 0;
}

.messageSender__top > form > button {
    display: none;
}

.messageSender__input {
    flex: 1;
    outline-width: 0;
    outline: none;
}

.messageSender__bottom {
    display: flex;
    justify-content: space-evenly;
}

.messageSender__option {
    padding: 20px;
    display: flex;
    align-items: center;
    color: var(--header-icon-color);
    margin: 5px;
}

.messageSender__option:hover {
    background-color: var(--header-input-color);
    border-radius: 20px;
}

.messageSender__option > h3 {
    font-size: medium;
    margin-left: 10px;
    cursor: pointer;
}