.sidebar {
    padding: 25px 0px 25px 0px;
    width: 20%;
    position: sticky;
    top: 0;
}

@media screen and (max-width: 380px) {
    .sidebar {
        width: 100%;
        position: relative;
    }
}