.groupCard {
    width: 288px;
    height: 256px;
    margin: 15px 15px 15px 15px;
    border-radius: 15px;
    background-color: var(--post-color);
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    color: var(--post-text-color);
    justify-content: space-between;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.groupCard:hover {
    transform: scale(1.07);
}

.groupCard__top {
    display: flex;
    height: 50%;
}

.groupCard__topImage > img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.groupCard__body {
    height: 125px;
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
    left: 30px;
}

.groupCard__bodyInfo > p {
    font-size: 13px;
}

.groupCard__bodyInfo > h3 {
    font-size: medium;
    position: absolute;
    top: 30px;    
}

.groupCard__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.groupCard__image > img {
    width: 150px;
    height: 150px;
}

.groupCard__options {
    padding-top: 10px;
    border-top: 1px solid var(--header-input-color);
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: var(--header-icon-color);
    cursor: pointer;
    padding: 15px;
}

.groupCard__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.groupCard__option > p {
    margin-left: 10px;
}

.groupCard__option:hover {
    background-color: var(--header-input-color);
    border-radius: 10px;
}